* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #b9144f;
  width:100%;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

/* Section Compilazione Form */
.wrap {
  background-color: white;
  margin: 20px auto;
  width: 1170px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #6e6e6e;
}
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}
.inserisci input {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #b9144f;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
.inserisci select {
  margin-top: 10px;
  border: 1px solid #b9144f;
  font-weight: bold;
  height: 23px;
  width: 110px;
}
/* .inserisci select {
  padding: 10px;
} */
.inserisci {
  font-size: 10px;
  font-weight: bold;
  color: #b9144f;
  text-align: center;
  width: 139px;
  margin-right: 20px;
}
.btn {
  display: flex;
  justify-content: center;

}
.btn button  {
  margin-right: 20px;
  padding: 8px 10px;
  border: 1px solid #b9144f;
  border-radius: 5px;
}
.errore {
  color: red;

}
/* Fine Section Compilazione Form */

/* Section Ticket */
.wrap-ticket {
  background-color: white;
  margin: 0 auto;
  width: 1170px;
  padding: 20px;

}

.hidden {
  display: none;
}
.visible {
  display: block;
}
.wrap-dati {
  display: flex;
  border: 1px solid gray;

}
.element-nome {
  width: 160px;
  background-color: gray;
  font-size: 11px;
  font-weight: bold;
  height: 100px;
  padding: 10px;
}
.element-nome span {
  font-size: 12px;
}
.element {
  width: 200px;
  padding: 10px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100px;
}

/* Fine    Section Ticket */
